<div class="d-flex align-items-center">
    <div class="flex-shrink-0 dropdown">
        <% if (user) { %>
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow" style="">
            <li><a class="dropdown-item" href="#" onclick="exibirModal()">Nova tarefa</a></li>
            <li><a class="dropdown-item" href="#">Tarefas</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
          </ul>
        <% } else { %>
          <a href="/login" class="btn">Login</a>
          <a href="/register" class="btn">Register</a>
        <% } %>
    </div>
</div>