<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Bem-vindo ao <%= title %>
    </h1>
    <div id="calendar" class="wraper">
        <div class="days-week">
            <span>Domingo</span>
            <span>Segunda</span>
            <span>Treça</span>
            <span>Quarta</span>
            <span>Quinta</span>
            <span>Sexta</span>
            <span>Sabado</span>
        </div>

        <div class="number-days">
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- Modal para adicionar/editar tarefas -->
    <div id="taskFormModal" class="modal">
        <form id="taskForm">
            <input type="hidden" id="taskId">
            <div>
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="description">Descrição:</label>
                <textarea id="description" name="description"></textarea>
            </div>
            <div>
                <label for="date">Data:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <button type="submit">Salvar Tarefa</button>
        </form>
    </div>

    <script>
        let el = document.querySelector('.number-days');

        for (let i = 1; i <= 31; i++) {
            el.innerHTML += '<span>' + i + '</span>';
        }        
    </script>

    <script src="js/calendar.js"></script>
</body>

</html>