<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário</title>
</head>

<body>
    <h1>Dados do Calendário</h1>
    <div id="calendar"></div>

    <script>
        fetch('/api/calendar/data')
            .then(response => response.json())
            .then(data => {
                document.getElementById('calendar').innerText = JSON.stringify(data, null, 2);
            })
            .catch(error => console.error('Erro ao buscar dados do calendário:', error));
    </script>

    <br><br><br>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <br><br><br>

    <h1>Dias</h1>
    <ul>
        <% dias.forEach(dia=> { %>
            <li>
                <strong>Data:</strong>
                <%= dia.data.toDateString() %><br>
                    <strong>Dia da Semana:</strong>
                    <%= dia.diaDaSemana %><br>
                        <strong>Feriado:</strong>
                        <%= dia.feriado ? 'Sim' : 'Não' %>
            </li>
            <% }); %>
    </ul>

</body>

</html>