<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href>
</head>

<style>
    .notion-shimmer-calendar-transition {
        animation-duration: .7s;
        animation-iteration-count: 1;
        animation-name: shimmer-calendar-transition;
        animation-timing-function: ease-in-out;
    }

    .day {
        cursor: pointer;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #f0f0f0;
        margin: 5px;
        text-align: center;
        line-height: 50px;
        border-radius: 5px;
    }

    .modal {
        display: none;
        /* Escondido por padrão */
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
        border-radius: 5px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<body>


    <div contenteditable="true"
        style="flex-grow: 1; flex-shrink: 0; display: flex; flex-direction: column; max-height: inherit;"
        data-content-editable-void="true">
        <div style="position: relative;">
            <div style="z-index: 1; flex-grow: 1; flex-shrink: 0; height: 100%; margin-right: 0px; margin-bottom: 0px; overflow: auto hidden;"
                class="notion-scroller horizontal notion-collection-view-body">
                <div>
                    <div style="padding-bottom: 10px; padding-left: 96px; padding-right: 96px; min-width: calc(100% - 192px);"
                        class="notion-calendar-view">
                        <div style="position: relative; padding-left: 1px;"
                            data-block-id="afa74ba9-f91a-4e6d-93c0-982a11579480"
                            class="notion-selectable notion-collection_view-block">
                            <div
                                style="position: absolute; left: 0px; right: 0px; background: rgb(25, 25, 25); z-index: 85;">
                                <div style="display: flex; height: 42px; align-items: center; margin-bottom: 2px;">
                                    <div
                                        style="font-weight: 600; margin-left: 8px; margin-right: 8px; line-height: 1; font-size: 14px;">
                                        abril de 2024
                                    </div>
                                    <div style="flex-grow: 1;"></div>
                                    <div role="button" tabindex="0"
                                        style="user-select: none; transition: background 20ms ease-in; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; white-space: nowrap; border-radius: 4px; height: 26px; padding-left: 6px; padding-right: 12px; font-size: 14px; line-height: 1.2; border: 1px solid rgba(255, 255, 255, 0.13); margin-right: 8px; font-weight: 500;">
                                        <svg role="graphics-symbol" viewBox="0 0 20 20"
                                            style="width: 14px; height: 14px; display: block; fill: rgb(180, 65, 60); flex-shrink: 0; color: rgba(255, 255, 255, 0.445); margin-right: 6px; margin-left: 4px;"
                                            class="calendarDate22">
                                            <g>
                                                <path
                                                    d="M7.065 10.164c0-.753-.428-1.246-1.103-1.246-.688 0-.896.519-.87 1.337-.584.13-1.026-.26-1.026-1.026 0-1.012.91-1.908 2.779-1.908 1.583 0 2.674.973 2.674 2.22 0 1.298-.701 2.207-2.506 3.842l-.973.883c1.804.04 2.999-.052 3.557-.39.233.221.363.533.363.922 0 .792-.895 1.247-1.791 1.247-.87 0-4.388-.104-4.388-.104l-.195-.74L5.3 13.189c1.168-1.376 1.765-2.116 1.765-3.025zm6.593 0c0-.753-.429-1.246-1.104-1.246-.688 0-.896.519-.87 1.337-.584.13-1.025-.26-1.025-1.026 0-1.012.909-1.908 2.778-1.908 1.584 0 2.674.973 2.674 2.22 0 1.298-.7 2.207-2.505 3.842l-.974.883c1.805.04 2.999-.052 3.557-.39.234.221.364.533.364.922 0 .792-.896 1.247-1.792 1.247-.87 0-4.388-.104-4.388-.104l-.194-.74 1.713-2.012c1.168-1.376 1.766-2.116 1.766-3.025z">
                                                </path>
                                                <path
                                                    d="M16.664 0H3.334A3.333 3.333 0 000 3.334v13.332A3.333 3.333 0 003.334 20h13.332A3.333 3.333 0 0020 16.666V3.334A3.333 3.333 0 0016.666 0h-.002zm-.525 17.932H3.861a1.797 1.797 0 01-1.797-1.797V5.485h15.872v10.652c0 .993-.804 1.797-1.797 1.797v-.002z">
                                                </path>
                                            </g>
                                        </svg>Abrir no Notion Calendar
                                    </div>
                                    <div role="button" tabindex="0"
                                        style="user-select: none; transition: background 20ms ease-in; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; border-radius: 4px; height: 24px; width: 24px; padding: 0px;"
                                        aria-label="Mês anterior"><svg role="graphics-symbol" viewBox="0 0 16 16"
                                            style="width: 14px; height: 14px; display: block; fill: rgba(255, 255, 255, 0.445); flex-shrink: 0;"
                                            class="chevronLeft">
                                            <path
                                                d="M3.61816 8.06445C3.61816 8.29688 3.70703 8.49512 3.8916 8.67285L9.22363 13.8887C9.36719 14.0391 9.55859 14.1143 9.77734 14.1143C10.2217 14.1143 10.5703 13.7725 10.5703 13.3213C10.5703 13.1025 10.4814 12.9043 10.3311 12.7539L5.52539 8.06445L10.3311 3.375C10.4814 3.21777 10.5703 3.01953 10.5703 2.80078C10.5703 2.35645 10.2217 2.01465 9.77734 2.01465C9.55859 2.01465 9.36719 2.08984 9.22363 2.24023L3.8916 7.45605C3.70703 7.63379 3.625 7.83203 3.61816 8.06445Z">
                                            </path>
                                        </svg></div>
                                    <div role="button" tabindex="0"
                                        style="user-select: none; transition: background 20ms ease-in; cursor: pointer; display: inline-flex; align-items: center; flex-shrink: 0; white-space: nowrap; height: 24px; border-radius: 4px; font-size: 14px; line-height: 1.2; min-width: 0px; padding-left: 6px; padding-right: 6px; color: rgba(255, 255, 255, 0.81);">
                                        Hoje</div>
                                    <div role="button" tabindex="0"
                                        style="user-select: none; transition: background 20ms ease-in; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; border-radius: 4px; height: 24px; width: 24px; padding: 0px;"
                                        aria-label="Próximo mês"><svg role="graphics-symbol" viewBox="0 0 16 16"
                                            style="width: 14px; height: 14px; display: block; fill: rgba(255, 255, 255, 0.445); flex-shrink: 0;"
                                            class="chevronRight">
                                            <path
                                                d="M12.375 8.06445C12.375 7.83203 12.2861 7.63379 12.1084 7.45605L6.77637 2.24023C6.62598 2.08984 6.44141 2.01465 6.22266 2.01465C5.77832 2.01465 5.42285 2.35645 5.42285 2.80078C5.42285 3.01953 5.51172 3.21777 5.66211 3.375L10.4746 8.06445L5.66211 12.7539C5.51855 12.9043 5.42285 13.1025 5.42285 13.3213C5.42285 13.7725 5.77832 14.1143 6.22266 14.1143C6.44141 14.1143 6.62598 14.0391 6.77637 13.8887L12.1084 8.67285C12.293 8.49512 12.375 8.29688 12.375 8.06445Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <div style="display: flex; margin-top: 0px; box-shadow: rgb(47, 47, 47) 0px 1px 0px;"
                                    class="notion-calendar-header-days">
                                    <div
                                        style="flex-grow: 1; flex-basis: 0px; text-align: center; font-size: 12px; height: 24px; color: rgba(255, 255, 255, 0.283);">
                                        dom.</div>
                                    <div
                                        style="flex-grow: 1; flex-basis: 0px; text-align: center; font-size: 12px; height: 24px; color: rgba(255, 255, 255, 0.283);">
                                        seg.</div>
                                    <div
                                        style="flex-grow: 1; flex-basis: 0px; text-align: center; font-size: 12px; height: 24px; color: rgba(255, 255, 255, 0.283);">
                                        ter.</div>
                                    <div
                                        style="flex-grow: 1; flex-basis: 0px; text-align: center; font-size: 12px; height: 24px; color: rgba(255, 255, 255, 0.283);">
                                        qua.</div>
                                    <div
                                        style="flex-grow: 1; flex-basis: 0px; text-align: center; font-size: 12px; height: 24px; color: rgba(255, 255, 255, 0.283);">
                                        qui.</div>
                                    <div
                                        style="flex-grow: 1; flex-basis: 0px; text-align: center; font-size: 12px; height: 24px; color: rgba(255, 255, 255, 0.283);">
                                        sex.</div>
                                    <div
                                        style="flex-grow: 1; flex-basis: 0px; text-align: center; font-size: 12px; height: 24px; color: rgba(255, 255, 255, 0.283);">
                                        sáb.</div>
                                </div>
                            </div>

                            <div style="height: 66px;"></div>

                            <div style="box-shadow: rgb(47, 47, 47) -1px 0px 0px; margin-top: 1px; overflow: hidden;">
                                <div style="position: relative; display: flex;">

                                    <div
                                        style="position: relative; flex: 1 0 0px; border-right: 1px solid rgb(47, 47, 47); border-bottom: 1px solid rgb(47, 47, 47); cursor: default;">
                                        <% days.forEach(day=> { %>
                                            <div data-day="<%= day %>"
                                                style="display: inline-block; width: calc(100% / 8); border: 1px solid #ccc; padding: 10px; box-sizing: border-box; height: 124px;">
                                                <%= day %>

                                            </div>
                                            <% }) %>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal para adicionar tarefas -->
    <div id="taskModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Adicionar Tarefa</h2>
            <form id="taskForm">
                <input type="text" placeholder="Descrição da tarefa" id="taskDescription" required>
                <input type="submit" value="Salvar Tarefa">
            </form>
        </div>
    </div>

    <script src async defer></script>
</body>

</html>