html {
  --body-color: #fffcff;
  --header-color: #d36c6c;
  --header-button: #92a1d1;
  --color-weekdays: #247ba0;
  --box-shadow: #cbd4c2;
  --hover: #e8faed;
  --current-day: #e8f4fa;
  --color-day: white;
}

body {
  /* display: flex; */
  padding: 50px;
  /* justify-content: center; */
  background-color: var(--body-color);
  /* font-family: 'Source Code Pro', monospace; */
  font-size: 26px;
  font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
  position: relative;
  top: -3px;
  letter-spacing: -1px;
  height: 100vh;
}

.centraliza {
  display: flex;
  justify-content: space-between;
}

#divFiltro button {
  width: 50px;
  height: 30px;
  justify-content: center;
  vertical-align: top;
  display: flex;
}

button {
  /* width: 75px; */
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  /* padding: 10px; */
  color: var(--header-color);
  font-size: 26px;
  /* font-family: sans-serif; */
  display: flex;
  justify-content: space-between;
  background: #282828;
  border-radius: 10px;
}

#header button {
  background-color: var(--header-button);
  display: contents;
}

#container {
  width: 770px;
  /* margin-left: 25px !important;
  margin-right: 25px !important; */
}

#header>#container {
  /* background: rgb(25, 25, 25); */
  z-index: 85;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#containerTarefas {
  padding: inherit;
  /* margin-left: 25px !important;
  margin-right: 25px !important; */
  /* width: 770px !important; */
}

.modal-suave .modal-content {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.modal-suave.show .modal-content {
  opacity: 1;
}

#weekdays {
  width: 100%;
  display: flex;
  color: var(--color-weekdays);
}

#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px !important;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 5px;
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}

.day:hover {
  background-color: var(--hover);
}

.day+#currentDay {
  background-color: var(--current-day);
}

.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}

.scrollable-div {
  max-height: 750px;
  overflow-y: auto;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  border-bottom: 1px solid #d7d7d7;
}

.card {
  --bs-card-border-color: none !important;
}

/* responsividade */

@media (min-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }

  .day {
    height: 80px !important;
  }

  .pagination {
    display: flex;
    height: 0;
    align-items: center;
    margin-bottom: 0;
  }

  #weekdays {
    display: flex;
    height: 42px;
    align-items: center;
    margin-bottom: 0;
  }
}

@media (min-width: 359px) and (max-width: 1023px) {
  body {
    padding: 18px !important;
  }

  #containerTarefas {
    padding: inherit;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .centraliza>div {
    width: 56% !important;
  }

  #container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 2rem;
    width: auto !important;
  }

  .centraliza {
    display: grid !important;
    justify-content: initial !important;
    width: 100% !important;
  }

  .day {
    width: 47.99px !important;
    padding: 5px !important;
    height: 55px !important;
    margin: 4px;
  }

  #weekdays div {
    width: 100px;
    /* padding: 0; */
    height: 40px !important;
    /* text-align: center; */
    display: flex;
    align-content: center;
    align-items: center;
  }

  #header>#container {
    width: 100% !important;
  }

  .w-75 {
    width: 100% !important;
  }
}