  <!-- Modal Inserção -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="save" method="POST">
          <div class="modal-header">
            <h5 class="modal-title fs-5" id="modalLabel">Nova Tarefa</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-2">
              <label for="titulo" class="col-form-label">Título:</label>
              <input type="text" id="titulo" name="titulo" class="form-control" required>
            </div>
            <div class="mb2">
              <label for="descricao" class="col-form-label">Descrição:</label>
              <textarea id="descricao" name="descricao" rows="4" cols="50" class="form-control" required></textarea>
            </div>
            <div class="mb-2">
              <label for="data" class="col-form-label">Data:</label>
              <input type="date" id="data" name="data" class="form-control" required>
            </div>
            <div class="mb-2">
              <label for="status" class="col-form-label">Status:</label>
              <select id="status" name="status">
                <option value="pendente">Pendente</option>
                <option value="concluido">Concluído</option>
              </select><br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>